/* comienza el diseño del header */
header {
    background-color: #3d6953;
    width: 1570px;
    height: 150px;
    margin-left: auto;
    margin-right: auto; 
}
    
#logo{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 50px;
}

#titulo {
    text-align: center;
    font-size: 45px;
    color: #dde7ec ;
    margin: 0;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Abril Fatface';
}

.navbar {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul li {
    display: inline;
}

.navbar li {
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

.navbar ul li a {
    padding: 10px;
    color: #3d6953;
    font-weight: bold;
    text-decoration: none;
}
.navbar li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

.navbar li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

.navbar li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

.navbar li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    border-color: #3d6953;
    background-color: #dde7ec;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

.navbar li:hover span {
    transform: translateX(0.15em);
}


/* Comienza el diseño del footer */
footer {
    width: 1570px;
    height: 400px;
    background-color: #3d6953;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.redes{
    width: 300px;
    height: 35px;
    float: right;
    color: #dde7ec;
    padding: 20px;
    box-sizing: border-box;
}

.redes p {
    font-size: 20px;
    color: #dde7ec;
    font-family: 'Abril Fatface';
}

.redes i a {
    font-size: 15px;
    font-family: 'roboto';
}

#direccion{
    width: 300px;
    height: 180px;
    float: left;
    color: hsl(200, 28%, 90%);
    padding: 20px;
}
#direccion h3 {
    font-size: 20px;
}

#direccion p {
    font-size: 15px;
    font-family: 'roboto';
}

#mapa {
    width: 300px;
    height: 300px;
    float: left;
    padding: 30px;
}

#horarios {
    width: 300px;
    height: 180px;
    float: right;
    color: hsl(200, 28%, 90%);
    padding: 20px;
}

#horarios h3 {
    font-size: 20px;

}

#horarios p {
    font-size: 15px;
    font-family: 'roboto';
}

.copyright h4 {
    color: #dde7ec;
    position: relative;
    top: 350px;

}