body {
    background-color: #b7d2c3;
    overflow-x: hidden;
    font-family: 'oboto', 'abril fatface';

}

/* comienza el diseño del header */
header {
    background-color: #3d6953;
    width: 1440px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#logo {
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 50px;
}

#titulo {
    text-align: center;
    color: #dde7ec;
    margin: 0;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Abril Fatface';
}

.navbar {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;

}

.navbar ul {
    margin-top: -50px;
    padding: 0;
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    cursor: pointer;
}

.navbar ul li a {
    display: inline-block;
    padding: 10px;
    background-color: #7ca692;
    color: #dde7ec;
    font-weight: bold;
    text-decoration: none;
    border-left: 0.08em solid;
    border-radius: 2em;
}

.navbar ul li a:hover {
    color: #5fb88a;
    background-color: rgb(255, 255, 255);
}

/* Comienza el diseño del carrousel de presentación con dos imagenes y promocionando servicios */

.inicio {
    width: 1440px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrousel {
    width: 50%;
    max-width: 120em;
    padding: 2em;
    border-style: inset;
    border-color: #e1c6cc;
    background-color: #e1c6cc;
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.fondo_grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
    padding: 2em;
    background-color: #b7d2c3;
    border-radius: 1em;
    border-style: outset;
    transition: all .5s ease;
    transform: translateX(0%);
}

.fondo_grande .img {
    width: calc(100% / 2 - 2em);
    min-height: 10vh;
    border-style: inset;
    border-color: #b7d2c3;
    border-radius: 1em;
    transition: all 0.4s ease;
}

.puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: #b7d2c3;
    list-style-type: none;
}

.activo {
    background-color: #7ca692;
}

/* Diseño de botón para ver más */
.masServicios {
    border: 1px solid #3d6953;
    padding: 10px;
    background-color: #3d6953;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'roboto';
    border-radius: 50px;
    float: right;
}

/* Diseño del titular al lado del carrusel de fotos */

.titular {
    width: 30%;
    height: 100%;
    padding: 2em;
    background-color: #3d6953;
    float: left;
    text-align: center;
    font-family: 'abril fatface';
    color: rgb(0, 0, 0);
    margin-top: 200px;
    margin-left: 60px;
}

/* Diseño sección opiniones de clientes */
.clientes {
    background-color: #7ca692;
    width: 1400px;
    height: 300px;
    padding: 20px;
    border: 1px solid #3d6953;
    border-radius: 1em;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.clientes h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'abril fatface';
}

.opinion1 {
    background-color: #e1c6cc;
    width: 350px;
    height: 150px;
    padding: 2em;
    border-style: outset;
    border-radius: 1em;
    float: left;
}

.opinion1 p {
    text-align: center;
    font-family: 'roboto';
    text-justify: distribute;
    font-style: oblique;
}

.opinion1 h4 {
    text-align: end;
    font-style: italic;
    font-family: 'roboto';
}

.opinion2 {
    background-color: #e1c6cc;
    width: 350px;
    height: 150px;
    padding: 2em;
    border-style: outset;
    border-radius: 1em;
    margin-left: 65px;
    float: left;
}

.opinion2 p {
    text-align: center;
    font-family: 'roboto';
    text-justify: distribute;
    font-style: oblique;
}

.opinion2 h4 {
    text-align: end;
    font-style: italic;
    font-family: 'roboto';
}

.opinion3 {
    background-color: #e1c6cc;
    width: 350px;
    height: 150px;
    padding: 2em;
    border-style: outset;
    border-radius: 1em;
    float: right;
}

.opinion3 p {
    text-align: center;
    font-family: 'roboto';
    text-justify: distribute;
    font-style: oblique;
}

.opinion3 h4 {
    text-align: end;
    font-style: italic;
    font-family: 'roboto';
}

/* Comienza el diseño del aside y se agrega un video al lado */

.article2 {
    width: 1440px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.quienes_somos {
    background-image: url(../img/fondo.jpg);
    background-size: auto auto;
    background-attachment: fixed;
    background-position: center center;
    padding: 20px;
    width: 500px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
    border-style: outset;
    border-radius: 2em;
}

.quienes_somos h2 {
    text-align: left;
    font-family: 'abril fatface';
    color: black;
}

.quienes_somos .descripcion p {
    text-align: center;
    font-size: larger;
    font-family: 'roboto';
    margin-top: 50px;
    display: flex;
}

.videoInicio {
    width: 800px;
    height: 400px;
    padding: 20px;
    margin-top: -270px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    display: table;
}

.promo iframe {
    width: 700px;
    height: 360px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*nuestros valores*/
.tablaValores {
    width: 1440px;
    padding: 110px;
}

.tabla table {
    margin-top: 20px;
    margin-left: 50px;
    border-collapse: collapse;
    /*junta los bordes en una sola linea*/
    align-self: center;
    width: 80%;
    height: 500px;
    padding: 2em;

}

.tabla .valores td {
    text-align: center;
    margin: 70px;
    border: 1px solid #3C6952;
    padding: 30px;
}

.tabla .valores tr:first-child td {
    border-top: none;
}

.tabla .valores tr:last-child td {
    border-bottom: none;
}

.column h3 {
    font-family: 'abril fatface';
    color: black;
}

/*page servicios*/
.cards {
    display: flex;
    flex-direction: column;
}

section {
    align-items: center;
}

.cards h2 {
    width: 100%;
    float: left;
    color: #3C6952;
    font-size: 60px;
    font-family: 'Abril Fatface';
    margin-left: 20px;
    text-shadow: 2px 2px 2px #ccc;
    /*sombra*/
    background-color: #f8f8f8;
    padding: 10px;
}

.tarjeta {
    width: 80%;
    margin-bottom: 20px;
    float: left;
    background-color: #DCC6CA;
    display: flex;
    margin-top: 10px;
}

.tarjeta img {

    width: 200px;
    height: auto;
    border-radius: 8px;

}

h3 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Abril Fatface';
    font-weight: 200;
}

p {
    color: #000000;
    font-family: 'Roboto';
}

.precio p {
    color: #000000;
    font-weight: bold;
}

button {
    background-color: #e2eadf;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #3C6952;
}

button:hover {
    background-color: #5fb88a;

}

/*GALERIA*/

#titlo_galeria {
    text-align: center;
    color: #3C6952;
    font-size: 60px;
    font-family: 'Abril Fatface';
    margin-top: 20px;
    text-shadow: 2px 2px 2px #ccc;
    /*sombra*/
    padding: 10px;
}

.section_galeria {
    display: flex;
    width: 1400px;
    height: 800px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -90px;
}

.section_galeria img {
    width: 0px;
    height: 600px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section_galeria img:hover {

    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*Page mis reservas*/
.formulario h2 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Abril Fatface';
    font-weight: 200;
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
    /* espacio entre letras  */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1cqb;
}

.formulario p {
    margin: 10px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #3C6952;
    font-weight: bold;
}

.mis_reservas {
    float: left;
    text-align: start;
    margin-left: 50px;
}

.calendar {
    float: right;
    width: 80%;


}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    padding-left: 80px;


}

fieldset {
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #000000;
    border: none;
}

.campo {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 5px #000000;
}

label {
    margin-right: 10px;
    font-family: 'Roboto';
}

.formulario button {
    background-color: #3C6952;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#comentarios {
    height: 100px;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px #000000;
}

legend {
    font-family: 'Roboto';
    font-size: 18px;
    color: #3C6952;
    font-weight: bold;
}

/* Comienza el diseño del footer */
footer {
    width: 1440px;
    height: 360px;
    background-color: #3d6953;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.redes {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    color: #e1c6cc;
    padding: 20px;
    box-sizing: border-box;
}

.redes h3 {
    font-size: 20px;
    color: #dde7ec;
    font-family: 'Abril Fatface';
}

.redes i a {
    font-size: 20px;
    font-family: 'roboto';
}

#direccion {
    width: 300px;
    height: 180px;
    float: left;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

#direccion h3 {
    font-size: 20px;
    color: #dde7ec;
}

#direccion p {
    font-size: 15px;
    color: #dde7ec;
    font-family: 'roboto';
}

#mapa {
    width: 300px;
    height: 300px;
    float: left;
    padding: 30px;
    margin-right: 10px;
}

#horarios {
    width: 300px;
    height: 180px;
    float: left;
    color: #dde7ec;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

#horarios h3 {
    font-size: 20px;
    color: #dde7ec;
}

#horarios p {
    font-size: 15px;
    font-family: 'roboto';
    color: #dde7ec;
}

#copyright h4 {
    color: #dde7ec;
    float: left;
    margin-top: 200px;
}

/*Comienza el Responsive*/

/*Responsive para tablets*/

@media all and (min-width: 600px) and (max-width:1023px) {
    header {
        width: 1000px;
        height: 80px;
    }

    .navbar ul li a {
        padding: 8px;
    }

    .inicio {
        width: 100%;
        height: auto;
    }

    /* Diseño del titular al lado del carrusel de fotos */

    .titular {
        width: 25%;
        height: auto;
        margin-left: 15px;
    }

    /* Diseño sección opiniones de clientes */
    .clientes {
        background-color: #7ca692;
        width: 95%;
        height: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .clientes h3 {
        text-align: center;
    }
    .opinion1,
    .opinion2,
    .opinion3 {
        width: 80%;
        height: 110px;
        padding: 1em;
    }

    /* Comienza el diseño del aside y se agrega un video al lado */

    .quienes_somos {
        width: 450px;
        height: 500px;
    }


    .videoInicio {
        width: 50%;
        height: auto;
        margin-top: -500px;
    }

    .promo iframe {
        width: 80%;
        height: 330px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 10%;
    }

    /* Nuestros valores*/
    .tablaValores {
        width: 100%;
        max-width: 1440px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .tabla table {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        align-self: center;
        width: 100%;
        max-width: 800px;
        padding: 2em;
    }

    .tabla .valores td {
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    /*Footer*/
    footer {
        width: 1440px;
        height: 400px;
        background-color: #3d6953;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .redes {
        width: 140px;
        height: 150px;
        margin-right: 600px;
        float: right;
        color: #e1c6cc;
        padding: 0px;
        box-sizing: border-box;
    }    
    #direccion {
        width: 200px;
        height: 150px;
        float: left;
        padding: 5px;
        margin-top: 30px;
        margin-left: none;
    }

    #mapa {
        width: 200px;
        height: 200px;
        float: left;
        padding: 30px;
        margin-right: 10px;
    }
    
    #horarios {
        width: 160px;
        height: 150px;
        float: left;
        color: #dde7ec;
        padding: 10px;
        margin-top: 30px;
        margin-left: 10px;
        
    }
    
    #copyright h4 {
        color: #dde7ec;
        float: left;
        margin-top: 150px;
    
    }
    /*Page servicios*/
    .cards {
        padding-left: 20px;
        width: 80%;
    }

    .cards h2 {
        font-size: 40px;
    }

    .tarjeta {
        width: 100%;

    }

    .tarjeta img {
        width: 100%;
        border-radius: 8px;
    }

    /*Page galeria*/

    #titlo_galeria {
        font-size: 40px;
    }

    .section_galeria {
        width: 950px;
        padding: 1px;
        margin-top: none;
    }

    /*Page Reservas*/
    .mis_reservas {
        width: 80%;
        padding-left: 40px;
    }

}
/* Termina el responsive de tablet*/