body{
    background-color: #b7d2c3;
    overflow-x: hidden;
}
/* comienza el diseño del header */
header {
    background-color: #3d6953;
    width: 1570px;
    height: 150px;
    margin-left: auto;
    margin-right: auto; 
}
    
#logo{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 50px;
}

#titulo {
    text-align: center;
    font-size: 45px;
    color: #dde7ec ;
    margin: 0;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Abril Fatface';
}

.navbar {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;
    
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul li {
    display: inline;
}

.navbar li {
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

.navbar ul li a {
    padding: 10px;
    color: #3d6953;
    font-weight: bold;
    text-decoration: none;
}
.navbar li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

.navbar li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

.navbar li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

.navbar li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    border-color: #3d6953;
    background-color: #dde7ec;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

.navbar li:hover span {
    transform: translateX(0.15em);
}

/* Comienza el diseño del carrousel de presentación con dos imagenes y promocionando servicios */

.carrousel {
    width: 50%;
    max-width: 120em;
    padding: 2em; 
    border-style: inset;
    border-color: #e1c6cc;
    background-color: #e1c6cc;
    transition: all 0.4s ease;
    border-radius: 1em;
    overflow: hidden;
    margin: auto;
    float: right;
}

.fondo_grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
    padding: 2em;
    background-color: #b7d2c3;
    border-radius: 1em;
    border-style: outset;
    transition: all .5s ease;
    transform: translateX(0%);  
}

.fondo_grande .img {
    width: calc(100% / 2 - 2em);
    min-height: 10vh;
    border-style: inset;
    border-color: #b7d2c3;
    border-radius: 1em;
    transition: all 0.4s ease;
}

.puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: #b7d2c3;
    list-style-type: none;
}

.activo {
    background-color: #7ca692; 
}

/* Diseño de botón para ver más */
.masServicios {
    border: 1px solid #3d6953; 
    padding: 10px; 
    background-color: #3d6953; 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'roboto'; 
    border-radius: 50px; 
    float: right;
}

/* Diseño del titular al lado del carrusel de fotos */

.titular {
    width: 30%;
    height: 100%;
    padding: 2em;
    background-color: #3d6953;
    float: left;
    text-align: center;
    font-family: 'abril fatface';
    color: rgb(0, 0, 0);
    margin-top: 200px;
    margin-left: 60px;
}
/* Diseño sección opiniones de clientes */
.clientes {
    background-color: #7ca692;
    width: 90%;
    height: 300px;
    padding: 4em;
    border: 1px solid #3d6953;
    border-radius: 1em; 
    margin-top: 650px;
    margin-left: 10px;
}

.clientes h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'abril fatface';
}

.opinion1 {
background-color: #e1c6cc;
width: 25%;
height: 150px;
padding: 2em;
border-style: outset;
border-radius: 1em;
float:left;
}

.opinion1 p {
    text-align: center;
    font-family: 'roboto';
    text-justify: distribute;
    font-style: oblique;
}

.opinion1 h4 {
    text-align: end;
    font-style: italic;
    font-family: 'roboto';
}

.opinion2 {
    background-color: #e1c6cc;
    width: 25%;
    height: 150px;
    padding: 2em;
    border-style: outset;
    border-radius: 1em;
    margin-left: 65px;
    float:left;
    }
    
    .opinion2 p {
        text-align: center;
        font-family: 'roboto';
        text-justify: distribute;
        font-style: oblique;
    }
    
    .opinion2 h4 {
        text-align: end;
        font-style: italic;
        font-family: 'roboto';
    }

    .opinion3 {
        background-color: #e1c6cc;
        width: 25%;
        height: 150px;
        padding: 2em;
        border-style: outset;
        border-radius: 1em;
        float: right;
        }
        .opinion3 p {
            text-align: center;
            font-family: 'roboto';
            text-justify: distribute;
            font-style: oblique;
        }
        
        .opinion3 h4 {
            text-align: end;
            font-style: italic;
            font-family: 'roboto';
        }
/* Comienza el diseño del aside y se agrega un video al lado */
.quienes_somos {
    background-image: url(../img/fondo.jpg);
    background-size: auto auto;
    background-attachment: fixed;
    background-position: center center;
    padding: 2em;
    width: 30%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
}
    
.quienes_somos h2 {
    text-align: left;
    font-family: 'abril fatface';
    color: black;
}
.quienes_somos p {
    text-align: center;
    font-size: larger;
    font-family: 'roboto';
    display: flex;
}

#logoPequeño{
    width: 100px;
    height: 100px;
    justify-content: end;
    float: right;
    margin-left: 50px;
}
/* Comienza el diseño del footer */
footer {
    width: 1570px;
    height: 400px;
    background-color: #3d6953;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.redes{
    width: 300px;
    height: 35px;
    float: right;
    color: #dde7ec;
    padding: 20px;
    box-sizing: border-box;
}

.redes p {
    font-size: 20px;
    color: #dde7ec;
    font-family: 'Abril Fatface';
}

.redes i a {
    font-size: 15px;
    font-family: 'roboto';
}

#direccion{
    width: 300px;
    height: 180px;
    float: left;
    color: hsl(200, 28%, 90%);
    padding: 20px;
}
#direccion h3 {
    font-size: 20px;
}

#direccion p {
    font-size: 15px;
    font-family: 'roboto';
}

#mapa {
    width: 300px;
    height: 300px;
    float: left;
    padding: 30px;
}

#horarios {
    width: 300px;
    height: 180px;
    float: right;
    color: hsl(200, 28%, 90%);
    padding: 20px;
}

#horarios h3 {
    font-size: 20px;

}

#horarios p {
    font-size: 15px;
    font-family: 'roboto';
}

.copyright h4 {
    color: #dde7ec;
    position: relative;
    top: 350px;

}
/*nuestros valores*/
td{
    
    text-align: center;
    margin: 70px; /* Agregamos un margen para separar las columnas */
    border: 1px solid rgba(216, 171, 46, 0.699); /* Añadimos bordes */
    padding: 30px;
    

}
tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}
table {
    margin-top: 20px;
    margin-left: 50px;
    border-collapse: collapse; /*junta los bordes en una sola linea*/
    align-self: center;
    width: 80%;
    height: 500px;
    
}
aside{
    display: flex;
    align-self: center;
}


video {
    margin-top: 10px; 
    padding-left: 200px;
   
}

/*page servicios*/
.cards {
    display: flex;
    flex-direction: column;
}

section {
    align-items: center;
}
.cards h2 {
    width: 100%;
    float: left;
    color: #3C6952;
    font-size: 60px;
    font-family: 'Abril Fatface';
    margin-left: 20px;
    text-shadow: 2px 2px 2px #ccc;    /*sombra*/
    background-color: #f8f8f8;
    padding: 10px;
}
.tarjeta {
    width: 48%;
    margin-bottom: 20px;
    float: left;
    background-color: #DCC6CA;
    display: flex;
    margin-top: 10px;
}
.tarjeta img {

    width: 200px;
    height: auto;
    border-radius: 8px;

}

h3 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Abril Fatface';
    font-weight: 200;
}

p {
    color: #000000;
    font-family: 'Roboto';
}

.precio p {
    color: #000000;
    font-weight: bold;
}

button {
    background-color: #e2eadf;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #3C6952;
}

button:hover {
    background-color: #5fb88a;

}


/*GALERIA*/
#titlo_galeria{
    width: 100%;
    text-align: center;
    color: #3C6952;
    font-size: 60px;
    font-family: 'Abril Fatface';
    margin-left: 20px;
    text-shadow: 2px 2px 2px #ccc;    /*sombra*/
    padding: 10px;
}
.section_galeria {

    display: flex;
    max-width: 100%;
    height: 50vh;
    padding: 1px;
}

.section_galeria img {

    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section_galeria img:hover {

    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}

/*Page mis reservas*/
.formulario h2 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Abril Fatface';
    font-weight: 200;
    font-family: 'Abril Fatface';
    letter-spacing: 2px; /* espacio entre letras  */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1cqb;
}
.formulario p{
    margin: 10px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #3C6952;
    font-weight: bold;
}
.mis_reservas{
    float: left;
    text-align: start;
    margin-left: 50px;
}
.calendar{
    float: right;
    width: 80%; 
   
    
}
iframe{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    padding-left: 80px;


}
fieldset {
    margin-top:10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #000000 ;
    border: none;
}

.campo{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 5px #000000 ;
}
label {
    margin-right: 10px;
    font-family: 'Roboto';
}
.formulario button {
    background-color: #3C6952;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
#comentarios{
    height: 100px;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px #000000 ;
}
legend{
    font-family: 'Roboto';
    font-size: 18px;
    color: #3C6952;
    font-weight: bold;
}
